body {
  background-color: #3C373C;
  text-align: center;
  color: white;
}

h1 {
  font-size: 54px;
}
.app {
  width: 90%;
  margin: auto;
}
.playlist-grid {
  text-align: left;
}
.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}
.spotify-button {
  margin-top: 200px;
}
