.App {
  text-align: center;
  font-size: 35px;
  height: 100vh;
}
.App-title {
  font-size: 50px;
}
.hours, .minutes, .days, .seconds {
  display: inline;
  margin: 0px 10px;
}
.daedline-input {
  font-size: 25px;
  margin: 5px;
}
.christmas {
  background-color: green;
}
